<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>SAS Group Project - data visualisation</h1>

<p>Author: Aleksander Wojnarowicz</p>
<br>

    <h3>About the application</h3>
    <p style="margin-right: 20%">The aim of this application is to provide its users with a straightforward and intuitive interface for
        data visualisation. Choose from one of 2000+ columns from the connected data set and access its histogram,
        just by clicking one button! All online, no need to install any software on your computer. </p>
    <h3>Start visualising!</h3>
    <a class="navbar-brand mr-4" href="/dash/">Go to dashboard</a>
</div>
</body>
</html>